<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phavikas.game.dinosaurgame"
        version   = "1.0.0">

    <name>DinosaurGame</name>

    <description>
        DinosaurGame.
    </description>

    <author href="http://phonegap.com" email="phavikas@gmail.com">
        PhaVikas
    </author>
	<icon src="icon.png" />
	<content src="index.html" />
</widget>
